{% if post.top %}
  <div style="padding-left: 8px;">
    <span class="post-meta-divider" style="padding-right: 8px;">|</span>
    <i class="fa fa-thumbtack"></i>
    <font color=black style="font-weight: bold; padding-left: 4px;"> 置顶 </font>
  </div>
{% endif %}
